<div class="jumbotron">
    <h1 class="display-4">Typescript App!</h1>
    <p class="lead">This is a simple hero unit</p>    
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
        Tasks List
    </a>
</div>